body{
    color:beige;
    background-color: blueviolet;
}
h1{
    text-align: center;
}
p{
    color:rgb(255,255,255);
}
#actions{
    background-color: aqua;
    list-style: none;
    margin: auto;
    padding: 0;
    width: 205px;
    display: grid;
    grid-template-columns: 100px 100px;
    /* The Gap Property defines the size of the gap between the rows and columns in flexbox , grid , or multi-column layouts. 
    It is a shorthand for the row-gap and column-gap properties. */
    gap: 5px;
}

#actions li{
    background-color: crimson;
    display: inline;
}

#actions button{
    background-color: darkgreen;
    color: wheat;
    width: 100px;
    height: 100px;
}